# autotools
Makefile
Makefile.in
configure
libtool
config
config.status
config.log
aclocal.m4
autom4te.cache
compile
config.guess
config.sub
depcomp
install-sh
libtool.m4
ltmain.sh
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
missing

# python build
*.pyc
build
setup.py
emane_node_view.egg-info
emane_node_view/static/bundle.js

# dist
emane-node-view-*.tar.gz

# make install
.installedfiles

# npm
emane_node_view/static/node_modules
